<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>859778605574-kef2r5fag2rhgtobntrf0gvafshv0daf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859778605574-kef2r5fag2rhgtobntrf0gvafshv0daf</string>
	<key>API_KEY</key>
	<string>AIzaSyBtGHhp_S4X2O2ysmEl_H3iMNBnXuzQVkY</string>
	<key>GCM_SENDER_ID</key>
	<string>859778605574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>s.Dlalah</string>
	<key>PROJECT_ID</key>
	<string>dlalah-da7aa</string>
	<key>STORAGE_BUCKET</key>
	<string>dlalah-da7aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859778605574:ios:e94f8900c33edc82</string>
	<key>DATABASE_URL</key>
	<string>https://dlalah-da7aa.firebaseio.com</string>
</dict>
</plist>